# Node
node_modules/
dist/

# Nuxt
.nuxt/
.output/
.data/
.nitro/
.cache/
.amplify-hosting/

# Env
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
*.jar
*.war
*.app
*.exe
*.class
*.py[cod]

# Media
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
